@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
text-decoration: none;
}
body{
    font-size: 1.7rem;
    font-family: 'Marriweather sans',sans-serif;
    background: #b7c4d2;
    color:#ececec ;
    padding: 4rem;
}
h1{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4rem;
}
.all-product{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    border-radius: 50px;
}
.product{
    overflow: hidden;
    background: #ffffff;
    color: #21201e;
    text-align: center;
    width: 50%;
    height: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    border-radius: 1.2rem;
    margin: 2rem;
    transform: all 0.3s;
}

.product img{
    position: relative;
    width: 100%;
    height: 100%; 
    margin: 1rem;
}

.product a:link ,.product a:visited{
    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: #21201e;
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: all 0.2s;
}
.product a:hover{
    transform: scale(1.1);
}
.product-info{
    font-size: 80px;
    top: 10px;
    right: 60px;
}
.product-btn{
    color: rgb(30, 45, 65);
    font-size: 115px;
}
